body {
  background: rgb(240, 238, 238);
}

.panel-bg {
  display: flex;
  padding: 18px;
  justify-content: center;
  border-bottom: 0.2px solid lightgray;
  background-color: #ffffff;
  border-bottom: 0.2px solid lightgray;
}

.Bookstore-CMS {
  width: 240px;
  height: 37px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.profile {
  margin-left: auto;
  margin-top: 8px;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin-top: 12px;
}

ul li small {
  width: 59px;
  height: 16px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  padding: 0 20px;
  cursor: pointer;
}

.category {
  width: 105px;
  opacity: 0.5;
  color: #999;
}

.form {
  width: 80%;
  margin: auto;
  border-top: 2px solid lightgray;
  padding-top: 8px;
  margin-bottom: 100px;
}

.form h3 {
  color: #555;
}

input,
select {
  padding: 10px 15px;
  margin-right: 20px;
}

input {
  width: 50%;
}

select {
  width: 30%;
}

input[type=text]:focus,
select:focus {
  border: 3px solid #555;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #0290ff;
  color: #fff;
  padding: 10px 45px;
}

.remove {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 0 5px;
  background: transparent;
  font-size: 12px;
  color: #0290ff;
  align-self: center;
}

.bookList {
  width: 80%;
  margin: 20px auto;
}

.book {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  border: 0.2px solid rgb(170, 169, 169);
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.percent {
  display: flex;
  margin-top: 18px;
}

.percent-text {
  margin-left: 5px;
  border-right: 0.2px solid lightgray;
  padding-right: 100px;
  margin-top: 10px;
}

.percent-text small {
  font-size: 30px;
}

.percent-text p {
  color: #999;
  margin-top: 0;
  font-size: 12px;
}

.author {
  color: #0290ff;
}

.buttons {
  margin-top: 15px;
}

.buttons small {
  color: #0290ff;
  cursor: pointer;
}

.chapter small {
  color: #999;
  font-size: 11px;
}

.buttons small:first-child {
  padding-right: 5px;
}

.buttons small:last-child {
  padding-left: 5px;
}

.chapter button {
  background-color: #0290ff;
  color: #fff;
  padding: 5px 20px;
}

.category1 {
  color: #999;
  font-weight: bolder;
}

.book-tt {
  margin: 0;
}
