body {
  background: rgb(226, 225, 225);
}
.header {
  display: flex;
  padding: 18px;
  justify-content: center;
  border-bottom: 0.2px solid rgb(170, 169, 169);
  background: white;
}

.header h1 {
  color: #0290ff;
}

.profile{
  margin-left: auto;
  margin-top: 8px;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin-top: 12px;
}

ul li a {
  font-size: 14px;
  color: #121212;
  padding: 0 20px;
  text-decoration: none;
}

.category {
  color: #999;
}

input,
select {
  padding: 16px 32px;
  margin: 4px 2px;
}

input[type=text]:focus,
select:focus {
  background-color: #4caf50;
  border: 3px solid #555;
  color: white;
}

button {
  border: none;
  /* padding: 16px 32px; */
  text-decoration: none;
  /* margin: 4px 2px; */
  cursor: pointer;
}

.remove {
  
}

.bookList {
  width: 80%;
  margin: 20px auto;
}

.book {
  display: flex;
  justify-content: space-between;
  border: 0.2px solid rgb(170, 169, 169);
  background: white;
  margin: 10px 0;
  padding: 10px;
}
